h2{
    color: blue;
    background-color: coral;
    border:15px solid black;
    border-radius: 70px;
    text-align: center;
    align-items: center;
    padding: 20px;
}
small{
    display: block;
}
h3{
    display: inline;
}